/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp R  &kp T  &kp Y
                &kp F  &kp G  &kp H
            >;
        };
    };
};
