#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define RAISE   1
#define LOWER   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC   &kp Q     &kp W     &kp E     &kp R     &kp T           &kp Y     &kp U     &kp I     &kp O     &kp P     &kp LALT
&kp TAB   &kp A     &kp S     &kp D     &kp F     &kp G           &kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
&kp LSHFT &kp Z     &kp X     &kp C     &kp V     &kp B           &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH  &mo LOWER
                              &kp LGUI  &kp LCTRL &kp RET         &kp SPACE &mo RAISE &kp BSPC
            >;
        };

        raise_layer {
            bindings = <
&none     &none     &none     &none     &none     &none           &kp none &kp none &kp UP    &none     &kp PG_UP &none
&none     &none     &none     &none     &none     &none           &kp HOME &kp LEFT &kp DOWN  &kp RIGHT &kp PG_DN &none
&trans    &none     &kp LC(X) &kp LC(C) &kp LC(V) &none           &kp END  &none    &kp LPAR  &kp RPAR  &none     &kp PSCRN
                              &trans    &trans    &trans          &trans   &trans   &trans
            >;
        };

        lower_layer {
            bindings = <
&trans    &kp N1    &kp N2    &kp N3    &kp N4    &kp N5          &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &trans
&kp CAPS  &kp MINUS &kp EQUAL &none     &none     &none           &kp LBKT  &kp RBKT  &none     &none     &trans    &trans
&trans    &kp GRAVE &none     &none     &none     &none           &kp BSLH  &none     &trans    &trans    &trans    &trans
                              &trans    &trans    &trans          &trans    &trans    &trans
            >;
        };
    };
};